.input-field{
    position: relative;

    input{
        position: relative;
        border: 2px solid #ff9800;
        padding: 15px;
        color: #000;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
        height: 10px;
        transition: all 0.2s;
        cursor: text;
        font-weight: bold;
    }

    input::placeholder{
        color: #e2e2e2;
    }

    label{
        position: absolute;
        padding: 0px 4px;
        color: #ff9800;
        width: calc(auto + 20px);
        top: -10px;
        left: 9px;
        text-align: center;
        background-color: #fff;
    }

    select{
        background-color: #fff;
        position: relative;
        border: 2px solid #ff9800;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
        height: auto;
        transition: all 0.2s;
        cursor: text;
        font-weight: bold;
        min-width: 100%;
        color: #e2e2e2;

    }
}