button{
    padding: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &.success{
        background-color: #76cb00;
        width: 100%;

    }

    &.alert{
        background-color: #ff9800;
        width: 100%;

    }

    &.default{
        background-color: #a2a2a296;
        width: 100%;

    }

    &.none{
        width: 100%;

        background-color: transparent;
        color: #ff9800;
        font-weight: 100;
        font-size: 14px;
    }
}