button{
    padding: 12px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &.success{
        background-color: #76cb00;
    }

    &.alert{
        background-color: #ff9800;
    }

    &.default{
        background-color: #a2a2a296;
    }

    &.none{
        background-color: transparent;
        color: #ff9800;
        font-weight: 100;
        font-size: 14px;
    }
}