.card-member{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    align-items: center;
    justify-items: flex-start;
    background-color: #f013001c;
    border-radius: 5px;

    .card-name{
        text-align: end;
        color: #646464 !important;
        font-size: 16px !important;
        font-weight: bold !important;
    }

    .level-access{
        font-size: 14px !important;
        color: #7a7774 !important;
    }

    button{
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        width: auto;
        border-radius: auto;
        outline: none;
        border: none;
        color: #fff;
        font-size: auto;
        font-weight: bold;
        cursor: pointer;
    }
    
    .close{
        color: red;
        text-align: center;
        font-size: 22px;
        font-weight: 100;
    }
}